@import "../node_modules/bootstrap/scss/bootstrap.scss";

.footer_header {
  background-color: #20c997;
}

.footer {
  background-color: #eceff1;
}

.footer_text {
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}
